# Import Library

In [1]:
import pandas as pd

# Load the Data

In [2]:
df = pd.read_csv('https://data.humdata.org/dataset/469a7757-302c-4176-bf82-4a4523feb586/resource/5419549c-8d27-497c-8a7a-9d849a86cbca/download/climate-change_deu.csv')
df

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Germany,DEU,2021,Agricultural land (sq. km),AG.LND.AGRI.K2,165910
2,Germany,DEU,2020,Agricultural land (sq. km),AG.LND.AGRI.K2,165950
3,Germany,DEU,2019,Agricultural land (sq. km),AG.LND.AGRI.K2,166660
4,Germany,DEU,2018,Agricultural land (sq. km),AG.LND.AGRI.K2,166450
...,...,...,...,...,...,...
1744,Germany,DEU,1964,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.891
1745,Germany,DEU,1963,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.826
1746,Germany,DEU,1962,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.762
1747,Germany,DEU,1961,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.697
1748,Germany,DEU,1960,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.384

In [ ]:
df = pd.read_csv('https://data.humdata.org/dataset/469a7757-302c-4176-bf82-4a4523feb586/resource/5419549c-8d27-497c-8a7a-9d849a86cbca/download/climate-change_deu.csv')
df

In [3]:
df.dropna()

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Germany,DEU,2021,Agricultural land (sq. km),AG.LND.AGRI.K2,165910
2,Germany,DEU,2020,Agricultural land (sq. km),AG.LND.AGRI.K2,165950
3,Germany,DEU,2019,Agricultural land (sq. km),AG.LND.AGRI.K2,166660
4,Germany,DEU,2018,Agricultural land (sq. km),AG.LND.AGRI.K2,166450
...,...,...,...,...,...,...
1744,Germany,DEU,1964,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.891
1745,Germany,DEU,1963,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.826
1746,Germany,DEU,1962,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.762
1747,Germany,DEU,1961,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.697
1748,Germany,DEU,1960,Urban population (% of total population),SP.URB.TOTL.IN.ZS,71.384

In [ ]:
df.to_csv("../data/output.csv")